body {
    background: linear-gradient(180deg, #191814 0%, #312417 50%, #191814 100%);
    margin: 0;
}

#pagecontainer {
    max-width: 1200px;
    max-height: 750px;
}

main {
    max-width: 1100px;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

header {
    display: flex;
    background-image: url(images/glassblocks.jpeg);
    justify-content: space-around;
}

.banner {
    width: 1200px;
    height: 250px;
    background: url(images/glassblocks.jpeg);

}

h1 {
    font-family: Arvo;
    font-size: 4em;
    color:#A3D8FA;
    text-shadow: 2px 2px 3px #191814;
}

header h2 {
    font-family: Arvo;
    color:#D9DA85;
    text-shadow: 2px 2px 3px #191814;
}

h2 {
    font-family: Arvo;
    color:#312417
}

p {
    font-family: Inconsolata;
    color:#312417
}

article {
    border: solid 10px #616354;
    border-radius: 7px;
    background: #FDFEF7;
    padding: 20px;
}

ul {
    padding: 0;
}

ul li a {
    text-decoration: none;
    border: solid 3px #A3D8FA;
    border-radius: 5px;
    background: radial-gradient(60.45% 60.45% at 50% 50%, #D9DA85 0%, #FDFEF7 100%);
    padding: 8px;
}

li {
    list-style-type: none;
    padding: 20px;
}

a {
    color:#616354;
}

ul li a:hover {
    border: solid 3px #D9DA85;
    background: radial-gradient(60.45% 60.45% at 50% 50%, #A3D8FA 0%, #FDFEF7 100%);

}

footer {
    display: flex;
    background-image: url(images/glassblocks.jpeg);
    justify-content: space-around;
}

footer p {
    font-family: Arvo;
    font-size: 1.2em;
    margin: 20px;
    color:#D9DA85;
    text-shadow: 2px 2px 3px #191814;
}

footer a {
    font-family: Arvo;
    font-size: 1.2em;
    color:#A3D8FA;
    text-shadow: 2px 2px 3px #191814;
}
