body {
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    /* background: linear-gradient(180deg, #C8D0FF 0%, #B1F5F5 38.94%, #B1F5F5 60.1%, #FDDEB6 63.46%); */
}

#background_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

h1 {
    font-family: Bonbon;
    font-size: 4em;
    color:#2a674d;
    margin: 0;
    margin-bottom: .75em;
    text-align: center;
}

h2 {
    font-family: Bonbon;
    font-size: 2em;
    color:#2a674d;
}

.open{
    text-align: center;
}

p {
    font-family: Elsie Swash Caps;
    font-size: 1.25em;
    color: #2a674d;
}

button { 
    padding: 10px;
}

div {
    padding: 20px;
}

button {
    font-family: Elsie Swash Caps;
    font-size: 1.25em;
    color: #2a674d;
}

#overlay {
    position: absolute;
    background-color: #2a674d57;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay article {
    box-sizing: border-box;
    background-color:#ffe3bc;
    border-radius: 5%;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

#overlay button {
    background-color:#C8D0FF;
    font-family: Elsie Swash Caps;
    font-size: 1.25em;
    color: #2a674d;
    border-radius: 10px;
    border: none;
    margin: auto;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#characters {
    display: flex;
}

#gamecontrol, #score {
    display: flex;
}

#game {
    display: flex;
}

#actions {
    display: flex;
}